# ignore everything
*

# whitelist stuff
!automations/
!automations/*/
!binary_sensors/
!cameras/
!groups/
!input/
!input/*/
!integrations/
!packages/
!scenes/
!sensors/
!scripts/
!sensors/
!*.yaml
!.gitignore

# ignore folders
.storage
.cloud
.google.token

# ensure ignore
secrets.yaml
