# ignore everything
*

# whitelist stuff
!automations/
!automations/*/
!binary_sensors/
!cameras/
!groups/
!input/
!input/*/
!integrations/
!modbus/
!packages/
!scenes/
!sensors/
!scripts/
!sensors/
!templates/
!*.yaml
!*.disabled
!.gitignore
!README.md

# ignore folders
.storage
.cloud
.google.token

# ensure ignore
secrets.yaml
google_calendars.yaml
